<section class="hobbies">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 style="margin-top: 40px; font-size:200%; font-weight: normal;" text-shadow="none">Big Fish Beats</h1>
            </div>
        </div>
        <div class="row bottom">
            <div class="row" style="display: grid; height: 100%; margin: 0; padding: 0;">
                <img src='../assets/Coming-Soon.jpg' style="border-radius: 25px; opacity: 80%; max-width: 95%; max-height: 95%; margin: 0 auto; padding: 0; display: block;">
            </div>
        </div>
    </div>
</section>
    
    
    
    <!-- <section class="hobbies">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 text-shadow="none">Fitness</h3>
                </div>
            </div>
            <div class="row bottom">
                <div class="row">
                    <app-custom-slider [slides]="healthSliderArray"></app-custom-slider>
                </div>
            </div>
            <div style="height: 350px;"></div>
            <div class="row">
                <div class="twelve columns">
                    <h3 text-shadow="none">Music</h3>
                </div>
            </div>
            <div class="row bottom">
                <div class="row">
                    <app-custom-slider [slides]="musicSliderArray"></app-custom-slider>
                </div>
            </div>
        </div>
    </section> -->

