    <section class="hobbies">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h3 text-shadow="none">Fitness</h3>
                </div>
            </div>
            <div class="row bottom">
                <div class="row">
                    <slideshow [imageUrls]="fitnessImages" minHeight="300px"></slideshow>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <h3 text-shadow="none">Music</h3>
                </div>
            </div>
            <div class="row bottom">
                <div class="row">
                    <slideshow [imageUrls]="musicImages" minHeight="300px"></slideshow>
                </div>
            </div>
        </div>
    </section>

