<div class="container">
    <div class="row">
        <div class="twelve columns">
            <nav>
                <ul>
                    <li><a [routerLink]="['/']">About</a></li>
                    <li><a [routerLink]="['/code']">Software</a></li>
                    <li><a [routerLink]="['/sound']">Music</a></li> <!--Talk about Health (resistance training, yoga, boxing), music (instruments, Spotify playlists, production), -->
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>