<button (click)="hideMusic()">Back</button>
<div class="container">
  <mat-toolbar color="primary" class="main-toolbar">
    <span><mat-icon style="height: 50px !important; width: 50px !important; font-size: 50px !important;">music_note</mat-icon> Production Samples <mat-icon style="height: 50px !important; width: 50px !important; font-size: 50px !important;">music_note</mat-icon> </span>
  </mat-toolbar>
  <div class="content">
    <mat-list color="primary">
      <mat-list-item *ngFor="let file of files; let i = index" (click)="openFile(file, i)" class="mat-list-music-item">
        <mat-icon style="color: #fcc316;" mat-list-icon>music_note</mat-icon>
        <h4 mat-line>{{ file.name }}</h4>
        <h5 mat-line>{{ file.artist }}</h5>
        <mat-icon *ngIf="currentFile.index === i && !newState?.error" style="color: #fcc316;">volume_up</mat-icon>
        <h6 *ngIf="currentFile.index === i && newState?.error">ERROR</h6>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          {{ newState?.readableCurrentTime }}
          <mat-slider class="time-slider" min="0" [max]="newState?.duration" step="1" [value]="newState?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="newState?.error || currentFile.index === undefined"></mat-slider>
          {{ newState?.readableDuration }}
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="newState?.error" *ngIf="!newState?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="newState?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>