.back_button {
  background: #b60707;
  border: 1px solid black;
  position: absolute; 
  right: 5%;
  margin-top: 5px;
  z-index: 1;
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
  padding: 2 2 2 2;
}

.container {
  .main-toolbar {
    font-size: 10px;
    text-align: center;
    height: max-content;
    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
    .player_title {
      margin-top: 15px;
      margin-bottom: 15px;
      color: #00eeff;
      font-size: 40px;
      white-space: pre-wrap;
    }
  }
  
    .content {
      margin:0rem;
      .logo {
        margin: 2.5rem;
        text-align: center;
        font-size: 24px;
        color: #fcc316;
        .mat-icon {
          height: 160px !important;
          width: 160px !important;
          font-size: 160px !important;
        }
      }
    }

    .mat-list-music-item {
      margin: 0rem;
      color: white;
    }

    .mat-item {
      color: #fcc316;
    }
  
    .media-footer {
      width: 100%;
      .time-slider {
        width: 100% !important;
        margin-left: 20px;
        margin-right: 20px;
      }
      .media-action-bar {
        width: 100%;
        padding: 2.5rem;
        justify-content: center;
        .mat-icon {
          height: 48px !important;
          width: 48px !important;
          font-size: 48px !important;
        }
      }
    }
  }