<div class="container">
    <section class="carousel-wrapper">
        <ul class="carousel-inner" #carousel>
            <li *ngFor="let item of items;" class="carousel-item" style="list-style-type:none">
                <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
            </li>
        </ul>
    </section>
    
    <div>
        <button (click)="next()" class="shift" style="right:0%; background: linear-gradient(to left,rgba(0, 0, 0, 0.637), rgba(240, 240, 240, 0));">
            <i class="fa fa-angle-right" style="font-size: 40px; color: white;"></i></button>
    </div>
    <div>
        <button (click)="prev()" class="shift" style="left:0%;"><i class="fa fa-angle-left" style="font-size: 40px; color: white;"></i></button>
    </div>
</div>