<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1 style="margin-top: 40px; font-size:200%; font-weight: 300;">- Matt Fishman -</h1>
            <h4>Hey there! Welcome to the Fish Bowl.</h4>
        </div>
    </div>
    <section class="services">
        <div style="position: relative" class="row">
            <div class="twelve columns">
                <h3>My areas of expertise</h3>
            </div>
            <div *ngIf="state==0">
                <app-areas-of-expertise ></app-areas-of-expertise>
            </div>
            <div *ngIf="state==1">
                <app-spotify-player></app-spotify-player>
                <!-- <app-player></app-player> -->
            </div>
        </div>
    </section>
</div>