<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>- Matthew Fishman -</h1>
            <h4>Always looking for the answers. Sometimes finding them.</h4>
            <a href="#" class="btn">Hire me</a>
        </div>
    </div>
    <section class="services">
        <div class="row">
            <div class="twelve columns">
                <h3>My areas of expertise</h3>
            </div>
        </div>
        <div class="row">
            <app-areas-of-expertise></app-areas-of-expertise>
        </div>
    </section>
</div>