li.jobs{
    margin: -20px 0;
    font-size: 1.7rem;
}

h4.jobs{
    margin: 0px 0px -50px 0px;
    margin-top: 5rem;
}

p.jobs{
    font-size: 1.9rem;
    line-height: 125%;
    margin-top: 10px; 
    margin-left: 1%;
}

h3.jobs {
    
}