<section class="about">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3 text-shadow="none">My Journey</h3>
            </div>
        </div>
        <div class="row bottom">
            <div class="two-thirds column" style="text-align: left">
                <p>Always curious, I like to think my career truly began when I used my first desktop computer. 
    At the time, pixels, the internet, CPUs, and monitors were magic to me, and I quickly fell in love with technology.
    My father is an electrical engineer by trade and inspired me to follow my curiosity and pursue a career in computing.</p>
                <p>During my tenure at Virginia Tech, I was fortunate enough to land three internships: 
    First, I worked with ATEC Wireless to develop a WPF-solution to an RF-signal decoding problem using C# and XAML.
    Next, I developed a Computer-Vision feature to automatically mark all symbols on any floor plan for Lutron Electronics, using the MVVM design pattern with C#, XAML, and SQL.
    This led to my final internship with Capital One where I was tasked with fully integrating into a full-time team to build a complex data pipeline. </p>
                <p>The work was challenging and exciting enough to bring me back for a full time position in Capital One's New York office, where I currently work in the Capital Markets Technology department.</p>
            </div>
            <div class="one-third column">
                <h4>Credentials</h4>
                <ul>
                    <li>B.S. Computer Science, College of Engineering</li>
                    <li>Minor: Music Technology</li>
                    <li>CSSE certified</li>
                </ul>
                <h4>Honors</h4>
                <ul>
                    <li>Summa Cum Laude</li>
                    <li>Honors Degree - Virginia Tech Honors College</li>
                    <li>Phi Beta Kappa Honor Society</li>
                </ul>
                <a href="../../assets/NYC_Background.jpg" download="MattFishmanCV" class="btn">CV</a>  <!--Add your CV-->
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4 class="center">Interested in samples of my work?</h4>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <a href="https://github.com/feesh96" class="btn block">Visit GitHub</a>
            </div>
        </div>
    </div>
</section>



        <!--What if we had boxes to click on that like expanded to tell in detail about each internship and what I currently do?-->