<section class="about">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h3 text-shadow="none">My Journey</h3>
            </div>
        </div>
        <div class="row bottom">
            <div class="two-thirds column" style="text-align: left">
                <p>To code, or not to code, that is the question.</p>
                <p>Well, at least it was a question until recently. These days, having some understanding of computer languages is a requirement in so many industries that understanding how to code is becoming a fundamental skill, like math or writing.</p>
                <p>With these changes in mind, I decided to put my eggs in the basket of the software developer. After a few courses in computer science at Virginia Tech's College of Engineering, I fell in love with the craft. Finally, my nit-pickiness, tendency to over-optimize, and childlike curiosity could become an asset rather than a liability!</p>
                <p>As an undergraduate I was fortunate enough to land three internships:</p>
    <p>
    <b>ATEC Wireless:</b> Developed a WPF-solution to an RF-signal decoding problem using C# and XAML <br>
    <b>Lutron Electronics:</b> Developed a Computer-Vision feature to automatically mark all symbols on any floor plan. Used the MVVM design pattern with C#, XAML, and SQL <br>
    <b>Capital One:</b> Developed a data pipeline using Spark/Scala. </p>
                <p>Currently, I am happily employed by Capital One. I work in their Capital Markets technology department in New York City as a software engineer.</p>
            </div>
            <div class="one-third column">
                <h4>Credentials</h4>
                <ul>
                    <li>B.S. Computer Science, College of Engineering</li>
                    <li>Minor: Music Technology</li>
                    <li>CSSE certified</li>
                </ul>
                <h4>Honors</h4>
                <ul>
                    <li>Summa Cum Laude</li>
                    <li>Honors Degree - Virginia Tech Honors College</li>
                    <li>Phi Beta Kappa Honor Society</li>
                </ul>
                <a href="../../assets/NYC_Background.jpg" download="MattFishmanCV" class="btn">CV</a>  <!--Add your CV-->
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4 class="center">Interested in samples of my work?</h4>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <a href="https://github.com/feesh96" class="btn block">Visit GitHub</a>
            </div>
        </div>
    </div>
</section>



        <!--What if we had boxes to click on that like expanded to tell in detail about each internship and what I currently do?-->