<section class="about">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h2 text-shadow="none">Software</h2>
                <p>
                    "public static void main (String args[ ] )"</p>
                <sub style="display:block; margin-top: -2%; margin-bottom: 10%; max-width: 95%;"><i>First line of code, circa 2013</i></sub>
            </div>
        </div>
        <div class="row bottom">
            <div class="two-thirds column" style="text-align: left">
                <h3 style="margin-bottom: -3%;">Professional Programming Experience</h3>
                        <h4 class="jobs"><b>Capital One, Senior Software Engineer</b></h4><br>
                            <sub class="jobs">Capital Markets Tech - New York, NY</sub>
                        <p class="jobs">Built and supported various applications based on the Java/Spring framework, leveraging AWS ECS and Docker</p>
                        <ul style="margin-top:30px;">
                            <li class="jobs">Swap Dealer Reporting Data Pipeline</li><br>
                            <li class="jobs">Foreign Exchange trading systems</li><br>
                            <li class="jobs">Commodity Exchange platform</li><br>
                            <li class="jobs">New Market Tax Credit accounting</li>
                        </ul>
                            
                        <!-- <br>SSH key rotation Automation
                            Jenkins/Groovy, SSH, COS API, secrets management
                        <br>Slackbot metrics API
                        <br>Lockbox Migration
                            Hashicorp Vault, COS API
                        <br>Cybersecurity remediations
                        <br>Provisioning Lockboxes to store secrets -->
                    
                    <h4 class="jobs"><b>PolitiGauge, Undergraduate Research</b></h4><br>
                        <sub class="jobs">Department of Computer Science - Virginia Tech &nbsp;&nbsp;  <i>2019</i></sub>
                        <p class="jobs">Built chrome extention that predicts the Political Skew of Online News Articles</p>
                        <ul style="margin-top:30px;">
                            <li class="jobs">Leveraged RNN ML models and NLP</li><br>
                            <li class="jobs">Built with Flask and AWS EC2</li><br>
                            <li class="jobs">VTURCS Faculty Choice and People's Choice Awards</li>
                        </ul>
                    <h4 class="jobs"><b>Ask Toscanini, Undergraduate Research</b></h4><br>
                        <sub class="jobs">Department of Music - Virginia Tech  &nbsp;  <i>2018</i></sub>
                        <p class="jobs">Exploring the Computability of Music Scores</p>
                        <ul style="margin-top:30px;">
                            <li class="jobs">Built API to interface with Sheet Music</li><br>
                            <li class="jobs">Leveraged MusicXML and Javascript</li><br>
                            <li class="jobs">VTURCS Faculty Choice Award</li>
                        </ul>
                    <h4 class="jobs"><b>Capital One, Software Engineering Intern</b></h4><br>
                        <sub class="jobs">Shared (internal) Technology - Richmond, VA  &nbsp;  <i>2018</i></sub>
                        <p class="jobs">Big Data pipeline to help comply with data sharing government regulations</p>
                        <ul style="margin-top:30px;">
                            <li class="jobs">Leveraged Spark/Scala and Snowflake</li><br>
                            <li class="jobs">Delivered final report to Executive VP</li><br>
                            <li class="jobs">"Very Strong" bucket of interns (top 10%)</li>
                        </ul>
                    <h4 class="jobs"><b>Lutron Electronics, Software Engineering Intern</b></h4><br>
                        <sub class="jobs">Lutron Designer+ - Coopersburg, PA  &nbsp;  <i>2017</i></sub>
                        <p class="jobs">Computer-Vision search feature to automatically mark all symbols on any floor plan</p>
                        <ul style="margin-top:30px;">
                            <li class="jobs">WPF-based desktop program to determine cost of fixtures in a given floorplan</li><br>
                            <li class="jobs">Search algorithm up to 10x faster than industry standard</li><br>
                            <li class="jobs">Used the MVVM design pattern with C#, XAML, and SQL</li><br>
                            <li class="jobs">Lead UX design team meetings and fully integrated feature into WPF-based program</li>
                        </ul>

                <!-- <h3>Skills</h3>
                    <p>Agile<br>
                        All of my work experience has leveraged an Agile workflow leveraging either JIRA, Kanban, CodeGiant. 
                        This includes creation/assignment of stories, epics, and sprints for not only myself, but others in my organization.
                        I have experience not only participating in but also running the various Agile ceremonies, including Sprint Grooming, Sprint Planning, Retrospectives, and Program Increment (PI) Planning.</p>
                    <p>AWS<br>
                        Experience provisioning EC2 instances using Cloud Formation Template, as well as through </p>
                    <p>Teaching</p> -->
                    <!-- Tutor, CS Mentor, TDP/TIP Buddy, CODERS, teachers in family -->
                    <!-- <p>Public Speaking</p> -->
                    <!-- Talk about being Secretary / VP of 150+ person organization -->
                    <br>
                
                <!-- <p>Check out some of the projects I've worked on:</p> -->
                    <!-- images with links to github -->
    
            </div>
            <div class="one-third column">
                <h4>Credentials</h4>
                <ul>
                    <li>B.S. Computer Science, <b>Summa Cum Laude</b><br><i>Virginia Tech College of Engineering</i></li>
                    <li>Cartified AWS Solutions Architect</li>
                    <li>CSSE Certified</li>
                    <li>Music Technology Minor</li>
                </ul>
                <h4>Languages</h4>
                <ul>
                    <li>Proficient in: Java, Python, C#, SQL, Bash</li>
                    <li>Familiar with: JavaScript, Scala, HTML5/CSS3</li>
                    <li>IDEs: Visual Studio, IntelliJ, Eclipse, Android Studio</li>
                </ul>
                <h4>Tools</h4>
                <ul>
                    <li>AWS: S3, EC2, IAM, ECS, Lambda, EMR, EBS, ALB</li>
                    <li>Frameworks: Spring, Angular, Botkit, WPF</li>
                    <li>Workflow: Jenkins (CI/CD), JIRA, PGAdmin, Artifactory, Eratocode</li>
                </ul>
                <h4>Organizations</h4>
                <ul>
                    <li>Virginia Tech Honors College - Honors Scholar</li>
                    <li>Phi Beta Kappa Honor Society</li>
                    <li>Theta Tau Professinoal Engineering Fraternity</li>
                    <li>Delta Sigma Phi Social Fraternity</li>
                </ul>
                <a href="../../assets/Resume_Matt_Fishman.pdf" download="MattFishmanCV" class="btn">CV</a>  <!--Add your CV-->
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4 class="center">Want to check out samples of my work?</h4>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <a href="https://github.com/feesh96" class="btn block">Visit GitHub</a>
            </div>
        </div>
    </div>
</section>



        <!--What if we had boxes to click on that like expanded to tell in detail about each internship and what I currently do?-->