<div class="parent" style="height: 20%;"> <!-- height of slider, not... maybe. CSS sucks -->
    <carousel>
        <ng-container *ngFor="let item of slides;">
            <ng-container *carouselItem>    <!--ng-container helps this stuff get rendered properly-->
                <div class="container">
                    <img src={{item.img}} class="image">
                    <div class="item">
                        {{item.text}}
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </carousel>
</div>