<div class="one-half column">
    <a [routerLink]="['/production']">
        <h4>Software Engineering</h4>
        <span class="fa fa-bolt" style="transform: rotate(10deg)"></span>
        <p>With a B.S. in Computer Science from Virginia Tech's College of Engineering, my experiences range from Web Dev to DevOps and almost everything in between.</p>
    </a>
</div>
<div class="one-half column">
    <a href="#">
        <h4>Music Production</h4>
        <span class="fa fa-music"></span>
        <p>The pursuit to master music on a technical level is a major part of my identity. With my <a class="specialLink" href="https://www.theverge.com/2017/11/9/16621708/native-instruments-maschine-mk3-daw-drum-machine-review">Maschine Mk3</a> and a minor in Music Technology, I produce with an eye for detail. </p>
    </a>
</div>